<section id="pricing" class="secondary-color text-center scrollto clearfix ">
	<div class="row clearfix">
		<div class="section-heading">
			<h3>{{pricing.tagLine}}</h3>
			<h2 class="section-title">{{pricing.title}}</h2>
		</div>

		<!--Pricing Block-->
		<div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s" *ngFor="let type of pricing.types">
			<div class="pricing-block-content">
				<h3>{{type.pricingFor}}</h3>
				<p class="pricing-sub">{{type.title}}</p>
				<div class="pricing">
					<div class="price"><span>$</span>{{type.cost}}</div>
					<p>{{type.description}}</p>
				</div>
				<ul><li *ngFor="let i of type.contents">{{i}}</li></ul>
				<a href="#" class="button">BUY TODAY</a>
			</div>
		</div>
		<!--End Pricing Block-->
	</div>
</section>
